body { margin: 0; }
header {
	height:130px;
	background-color: #888;
}
h1 {
	color: black;
	margin: 0;
	padding: 30px;
	text-align: center;
}

@media screen and (min-width: 480px) {
	header { background-image: url(header.jpg); }
	h1 { color:white; }
}