body { margin: 0; }
header {
	height:130px;
	background-color: #888;
}
h1 {
	color: black;
	margin: 0;
	padding: 30px;
	text-align: center;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  float: right;
  height: 100px;
  margin: 5px;
}

@media screen and (min-width: 480px) {
	header { background-image: url(images/header.jpg); }
	h1 { color:white; }
}